{% extends "base.html" %}
{% block content %}
<article>
    <header>
        <h1 class="post-title">Blog</h1>
    </header>
    <section class="post-content">
        {% for post in posts %}
        <article class="preview">
            <header>
                <h1 class="post-title"><a href="{{ root_path }}blog/{{ post.slug }}/index.html">{{ post.title }}</a></h1>
            </header>
            <p class="post-meta">{{ post.created }}</p>
            <p>{{ post.description }}</p>
            <p class="readmore"><a href="{{ root_path }}blog/{{ post.slug }}/index.html">Read more</a></p>
        </article>
        {% endfor %}
    </section>
</article>
{% endblock %}